*.cmd
*.log
*.lst
/CPLD/_xmsgs
/CPLD/iseconfig
/CPLD/*.xwbt
/CPLD/*.jed
/CPLD/*.bld
/CPLD/*.cmd_log
/CPLD/*.gise
/CPLD/*.gyd
/CPLD/*.lfp
/CPLD/*.lso
/CPLD/*.mfd
/CPLD/*.nga
/CPLD/*.ngc
/CPLD/*.ngd
/CPLD/*.ngr
/CPLD/*.pad
/CPLD/*.pnx
/CPLD/*.rpt
/CPLD/*.stx
/CPLD/*.syr
/CPLD/*.tim
/CPLD/*.tspec
/CPLD/*.vm6
/CPLD/*.xml
/CPLD/*.html
/CPLD/*.xrpt
/CPLD/*.csv
/CPLD/*.srp
/CPLD/src/*.lfp
/CPLD/*.err
/CPLD/sdmapper_html/fit
/CPLD/sdmapper_html/images
/CPLD/sdmapper_html/tim
/CPLD/xlnx_auto_0_xdb
/CPLD/xst/work
/driver/DRIVER.BIN
/driver/DRIVER.LST
/driver/SDMAPPER.ROM
/updater/SDMUPD.COM
/updater/SDMUPD.LST
