*.cmd
*.log
*.lst
/CPLD/_xmsgs
/CPLD/iseconfig
/CPLD/*.xwbt
/CPLD/*.jed
/CPLD/*.prj
/CPLD/*.bld
/CPLD/*.cmd_log
/CPLD/*.gise
/CPLD/*.gyd
/CPLD/*.lfp
/CPLD/*.lso
/CPLD/*.mfd
/CPLD/*.nga
/CPLD/*.ngc
/CPLD/*.ngd
/CPLD/*.ngr
/CPLD/*.pad
/CPLD/*.pnx
/CPLD/*.rpt
/CPLD/*.stx
/CPLD/*.syr
/CPLD/*.tim
/CPLD/*.tspec
/CPLD/*.vm6
/CPLD/*.xml
/CPLD/*.xst
/CPLD/*.html
/CPLD/sdmapper_html/fit
/CPLD/sdmapper_html/images
/CPLD/sdmapper_html/tim
/CPLD/*.xrpt
/CPLD/*.csv
/CPLD/src/*.lfp
/CPLD/*.err
/CPLD/xlnx_auto_0_xdb
/CPLD/xst/work
